.panel {

    margin-top: 25px;
    margin-bottom: 50px;
    display: block;
    vertical-align: top;

}

.panel_header {

    background-color: $black;
    color: $active-font-color;
    height: 50px;
    text-transform: uppercase;

    font-family: 'Lato', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

.panel_body {

    background-color: $panel-background;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    color: $white;

    &.preformatted {
        white-space: pre-line;
    }

}